.colour-title{
    font-weight: normal;
}
img{
    width: 300px;
    height: 200px;
}
#blue{
     color: blue;
}
#black{
     color: black;
}
#yellow{
     color: yellow;
}
#orange{
     color: orange;
}
#purple{
     color: purple;
}
#brown{
     color: brown;
}
#white{
     color: white;
}
